*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: clip;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navbar a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 20px;
}

.navbar a:hover,
.navbar a.active {
    background: #359381;
    color:#f9f9f9;
}

.parallax{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,.2);
    justify-content:center ;


}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    overflow-wrap: hidden;
    overflow: hidden;
   
}

.sec{
    position: relative;
    background: #16493F;
    padding: 100px;
}

.sec h2{
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-weight: 400;
    
}

.sec p{
    font-size: 1.3em;
    color: #ffffff;
    font-weight: 100;
    margin-right: 300px;
    letter-spacing: 2px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transform: scaleX(-1);
    opacity: 0;
    transition: 0.3s ease;
}

.slide.active img {
    opacity: 1;
}

.slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}

.slide.active .left-info {
    transform: translateX(0);
    z-index: 1;
    transition: 0.5s ease;
}

.left-info .penetrate-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
    padding-right: 20px;
}

.penetrate-blur h1 {
    font-size: 150px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.slide:nth-child(1) .penetrate-blur h1,
.slide:nth-child(5) .penetrate-blur h1 {
    margin-right: -10px;
}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fff;
}

.content h3 {
    font-size: 20px;
}

.content p {
    font-size: 20px;
    margin: 10px 0 15px;
}

.content .btn {
    display: inline-block;
    padding: 13px 28px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.content .btn:hover {
    background: transparent;
    color: #fff;
}

.slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0s;
}

.slide.active .right-info {
    transform: translateX(0);
    z-index: 1;
    transition: 0.5s ease;
}

.right-info h1 {
    font-size: 150px;
    color: #fff;
    align-items: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.right-info h4 {
    font-size: 60px;
    color: #fff;
    position: absolute;
    transform: translateY(150%);
    margin-left: 13px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.slide:nth-child(2) .right-info h4,
.slide:nth-child(4) .right-info h4 {
    margin-left: 10px;
}

.nav {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99;
}

.nav span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 25px;
    transition: 0.5s;
}

.nav span:nth-child(1) {
    background: transparent;
}

.nav span:nth-child(1):hover {
    background: #fff;
}

.nav span i {
    font-size: 45px;
    color: #444;
    transition: 0.5s;
}

.nav span:nth-child(1) i {
    color: #fff;
}

.nav span:nth-child(1):hover i {
    color: #444;
}

.newsletter {background-color: #16493F;
 padding: 150px;
 text-align: center;
 height: 100%;
 width: 100%;
}
.newsletter h3 {
font-size: 40px;
margin-bottom: 55px;
color: #f9f9f9;
}

.newsletter input[type="email"] {
    padding: 18px;
    border: 1px solid #aaa;
    border-radius: 20px;
    width: 450px;
    font-size: 14px;
    margin-right: 20px;
    outline: none; 
}

  .newsletter input[type="email"]:focus {
    border-color: #62afa0; 
    box-shadow: 0 0 5px #007bff; 
  }

  .newsletter button {
    padding: 15px 30px;
    background-color: #012510;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .newsletter button:hover {
    background-color: #048a76;
}

.footer {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
    border: #048a76;
    border-radius: 2px;
}

.line {
    width: 30px;
    height: 3px;
    background: #359381;
    margin: 5px;
}

/* Media query for responsiveness */

@media screen and (max-width: 865px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: #048a76;
        z-index: 99;
        transition: height 0.3s ease;
    }

    .navbar.show {
        display: flex;
    }

    .navbar a {
        margin: 10px 0;
        font-size: 18px; 
        color: #ffffff;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        margin: -420px;
    }
}

@media screen and (max-width: 865px) {
    .parallax {
        height: 100vh;
        overflow-x: hidden;
    }

    #text {
        font-size: 4em;
        top: 30%; 
        margin-left: 94px;
    }

    .parallax img {
        display: block; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .parallax #text {
        color: #ffffff; 
    }

    .sec {
        padding: 20px; 
    }

    .right-info h1 {
        font-size: 92px;
    }
    .right-info h4 {
        margin-bottom: 89px;
    }
    .content p {
        font-size: 15px;
    }
    .sec p {
        font-size: 1em;
        margin-right: 71px;
    }
    .sec h2 {
        font-size: 3em;
        margin-bottom: 9px;
        margin-top: 4px;
        margin-right: 47px;
    }
    .newsletter {
    padding: 99px;
    }
}
